[Unit]
Description=Runs all hkarial programs and scripts on startup
After=network.target

[Service]
Type=simple
User=hkarial
ExecStart=/home/hkarial/hk-arial/auto-start.sh
WorkingDirectory=/home/hkarial/hk-arial
Restart=on-failure

[Install]
WantedBy=multi-user.target
